@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-400.eot');
    src: local('Montserrat-400'), local('Montserrat-400'),
        url('../fonts/Montserrat-400.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-400.woff') format('woff'),
        url('../fonts/Montserrat-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-500.eot');
    src: local('Montserrat-500'), local('Montserrat-500'),
        url('../fonts/Montserrat-500?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-500.woff') format('woff'),
        url('../fonts/Montserrat-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-600.eot');
    src: local('Montserrat-600'), local('Montserrat-600'),
        url('../fonts/Montserrat-600?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-600.woff') format('woff'),
        url('../fonts/Montserrat-600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

#content, #siteheader {
    margin: 0 25%;
}

#siteheader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#siteheader nav {
    display: flex;
    justify-content: flex-end;
}

#siteheader nav a {
    color: #6c7073;
    margin: 0.6rem 1.1rem 0.5rem 0;
    font-size: 1.06rem;
}

#sitefooter p {
    line-height: 1.4;
    margin: 0.5rem auto 0.5rem;
}

#footer-sep {
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;
    text-align: center;
}

body {
    margin: 2rem 0 3rem;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    color: #24292e;
}

p {
    font-size: 1.05rem;
}

html, body {
    background-color: #fafafa;
}

#logo img {
    max-height: 2.88rem;
    margin-right: 0.4rem;
}

a {
    color: #4183c4;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a:hover {
    text-decoration: none;
}

.text-primary {
    color: #24292e !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #4183c4 !important;
}

header .date,
header .category {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.95rem;
}

h1, h2 {
    margin-top: 1rem;
}

h1, h2 {
    line-height: 1.2;
    margin-top: 1.9rem;
    margin-bottom: 0.5rem;
    letter-spacing: normal;
}

h1 {
    font-size: 1.35rem;
    font-weight: 500;
}

h2 { 
    font-size: 1.3rem;
    font-weight: 400;
}

@media only screen and (max-width: 1024px) {
    #content, #siteheader {
        margin: 0 10%;
    }
}